<div *ngIf="person" class="row">
  <div class="col-md-12">
    <h2 *ngIf="person._id">Person Details</h2>
    <h2 *ngIf="!person._id">New Person</h2>
  </div>
</div>
<div *ngIf="person" class="row">
  <form class="col-md-12">
      <div class="form-group">
          <label for="person-userid">UserId</label>
          <input class="form-control" name="person-userid" [(ngModel)]="person.userid" placeholder="Userid"/>
        </div>
    <div class="form-group">
      <label for="person-firstname">First Name</label>
      <input class="form-control" name="person-firstname" [(ngModel)]="person.firstname" placeholder="First-Name"/>
    </div>
    <div class="form-group">
      <label for="person-lastname">Last Name</label>
      <input class="form-control" name="person-lastname" [(ngModel)]="person.lastname" placeholder="Last-Name"/>
    </div>
    <div class="form-group">
      <label for="person-email">Email</label>
      <input class="form-control" name="person-email" [(ngModel)]="person.email" placeholder="support@mlab.com"/>
    </div>
    <div class="form-group">
      <label for="person-linkedin">LinkedIn</label>
      <input class="form-control" name="person-linkedin" [(ngModel)]="person.linkedin" placeholder="LinkedIn Account"/>
    </div>
    <div class="form-group">
      <label for="person-role">Role</label>
      <input class="form-control" name="person-role" [(ngModel)]="person.role" placeholder="Role"/>
    </div>
    <div class="form-group">
      <label for="person-twitter">Twitter</label>
      <input class="form-control" name="person-twitter" [(ngModel)]="person.twitter" placeholder="Twitter Username"/>
    </div>
    <div class="form-group">
      <label for="person-areaId">Area of Interest</label>
      <input class="form-control" name="person-areaId" [(ngModel)]="person.areaId" placeholder="Interests"/>
    </div>
    <div class="form-group">
      <label for="person-level">Level of Expertise</label>
      <input class="form-control" name="person-level" [(ngModel)]="person.level" placeholder="Level"/>
    </div>

    <button class="btn btn-primary" *ngIf="!person._id" (click)="createPerson(person)">Create</button>
    <button class="btn btn-info" *ngIf="person._id" (click)="updatePerson(person)">Update</button>
    <button class="btn btn-danger" *ngIf="person._id" (click)="deletePerson(person._id)">Delete</button>
  </form>
</div>